.navbar{
 height: 100px;   
 margin-bottom: 0;
 border-radius:0;
}

.bg-primary{
    background-color: #424242 !important;
}
.menu{
    background-color: #585858;
    min-height: 100%;
}
.principal{
    padding-top:1.5%;
    padding-left: 1%;
    padding-right: 1%;
}


body{
    background-color: #F2F2F2;
}