.bg-primary{
    background-color: #424242 !important;
}
.menu{
    background-color: #585858;
}
.footer-sistema{
    background-color:  #424242;  
    padding-top: 1%; 
    height:20.5%
}
.footer-sistema h4{

    color: white;
}

.footer-sistema img{
    margin-top: 5%   
}